In [1]:
import pandas as pd
import numpy as np
import os, time, json
import tmdbsimple as tmdb 
import seaborn as sns
from tqdm.notebook import tqdm_notebook
from scipy import stats
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
import json
with open('/Users/Test/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [3]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']
tmdb.API_KEY

'bdf430059a47190d8a36935999c0ad7a'

In [4]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)
file_list = sorted(os.listdir(FOLDER))
file_list[1]

'final_tmdb_data_2000.csv.gz'

In [5]:
def get_movie_certification(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    
    for c in releases['countries']:
        if c['iso_3166_1'] == "US":
            info['certification'] = c['certification']     
    return info

# function for json file creation

def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [6]:
YEARS_TO_GET = [2014, 2015, 2016, 2017]
errors = []

In [7]:
connection = "mysql+pymysql://root:root@localhost/project3.sql"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/project3.sql)

In [8]:
q = '''SELECT* FROM basics'''
pd.read_sql(q,engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0079644,November 1828,2001.0,None,140
4,tt0088751,The Naked Monster,2005.0,None,100
...,...,...,...,...,...
136278,tt9916170,The Rehearsal,2019.0,None,51
136279,tt9916190,Safeguard,2020.0,None,95
136280,tt9916270,Il talento del calabrone,2020.0,None,84
136281,tt9916362,Coven,2020.0,None,92
136282,tt9916538,Kuambil Lagi Hatiku,2019.0,None,123

In [9]:
basics = pd.read_sql(q,engine)
basics

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0079644,November 1828,2001.0,None,140
4,tt0088751,The Naked Monster,2005.0,None,100
...,...,...,...,...,...
136278,tt9916170,The Rehearsal,2019.0,None,51
136279,tt9916190,Safeguard,2020.0,None,95
136280,tt9916270,Il talento del calabrone,2020.0,None,84
136281,tt9916362,Coven,2020.0,None,92
136282,tt9916538,Kuambil Lagi Hatiku,2019.0,None,123

In [10]:
from tqdm.notebook import tqdm_notebook
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    time.sleep(.2)

    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()

    previous_df = pd.read_json(JSON_FILE)

    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    ### Inner Loop

    for movie_id in tqdm_notebook(movie_ids_to_get,
                          desc=f'Movies from {YEAR}',
                          position=1,
                          leave=True):
        try:
            temp = get_movie_with_rating(movie_id)  
            write_json(temp,JSON_FILE)
            time.sleep(0.02)
        except Exception as e:
            errors.append([movie_id, e])

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/4 [00:00<?, ?it/s]

Movies from 2014:   0%|          | 0/8007 [00:00<?, ?it/s]

Movies from 2015:   0%|          | 0/8444 [00:00<?, ?it/s]

Movies from 2016:   0%|          | 0/8933 [00:00<?, ?it/s]

Movies from 2017:   0%|          | 0/9359 [00:00<?, ?it/s]

In [11]:
import glob
q = FOLDER+'final*.csv.gz'
q

'Data/final*.csv.gz'

In [12]:
file_list = glob.glob(q)
file_list

['Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz',
 'Data\\final_tmdb_data_2020.csv.gz']

In [13]:
pd.read_csv(file_list[0])

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.1,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,tt7834340,0.0,NaN,NaN,0.0,[],NaN,1012258.0,zh,公鸡打鸣，母鸡下蛋,...,0.0,0.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,公鸡打鸣，母鸡下蛋,0.0,0.0,0.0,NaN
2188,tt8561732,0.0,NaN,NaN,0.0,"[{'id': 10749, 'name': 'Romance'}]",NaN,740825.0,en,Tumi Mur Mathu Mur,...,0.0,90.0,"[{'english_name': 'Assamese', 'iso_639_1': 'as...",Released,NaN,Tumi Mur Mathu Mur,0.0,0.0,0.0,NaN
2189,tt8929736,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,373320.0,ta,பட்ஜெட் பத்மநாபன்,...,0.0,153.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Budget Padmanabhan,0.0,5.8,2.0,NaN
2190,tt9209606,0.0,NaN,NaN,0.0,[],NaN,878312.0,mg,Lolovokatra 2,...,0.0,90.0,[],Released,NaN,Lolovokatra 2,0.0,0.0,0.0,NaN
2191,tt9486348,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,514110.0,ar,شجيع السيما,...,0.0,95.0,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,NaN,shajie alsiyama,0.0,4.5,2.0,NaN

In [14]:
df_list = []
for file in file_list:
    temp_df = pd.read_csv(file, lineterminator = '\n')
    df_list.append(temp_df)
len(df_list)

8

In [15]:
pd.concat(df_list)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification\r,imdb_id\r
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,\r,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,\r,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,\r,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.500,2.0,\r,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,tt0172156,0.0,/gxSVZCUlDd8upT1G2wdrUdz2hxG.jpg,"{'id': 14890, 'name': 'Bad Boys Collection', '...",130000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.sonypictures.com/movies/badboysii,8961.0,en,Bad Boys II,...,147.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If you can't stand the heat, get out of Miami.",Bad Boys II,0.0,6.585,4574.0,R\r,NaN
318,tt0172160,0.0,/2LeJmX0FRCoNogJresMTIw2KrsL.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,419110.0,no,Ballen i øyet,...,81.0,"[{'english_name': 'Norwegian', 'iso_639_1': 'n...",Released,NaN,Ballen i øyet,0.0,0.000,0.0,\r,NaN
319,tt0172464,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,160147.0,en,The Million Dollar Kid,...,89.0,[],Released,NaN,The Million Dollar Kid,0.0,3.000,1.0,\r,NaN
320,tt0172495,0.0,/v2nvvwbWOAEPQeq8wsvUkhb1HI1.jpg,NaN,103000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,98.0,en,Gladiator,...,155.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Hero Will Rise.,Gladiator,0.0,8.203,15611.0,R\r,NaN
321,tt0172543,0.0,/6YyQkBsVOs0Ju5ojfHwwDWSXZC0.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,13777.0,en,He Died with a Felafel in His Hand,...,107.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,He Died with a Felafel in His Hand,0.0,7.114,101.0,\r,NaN

In [16]:
df = pd.concat([pd.read_csv(file, lineterminator='\n')for file in file_list])
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification\r,imdb_id\r
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,\r,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,\r,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,\r,NaN
4,tt0116748,0.0,/wr0hTHwkYIRC82MwNbhOvqrw27N.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.500,2.0,\r,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,tt0172156,0.0,/gxSVZCUlDd8upT1G2wdrUdz2hxG.jpg,"{'id': 14890, 'name': 'Bad Boys Collection', '...",130000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.sonypictures.com/movies/badboysii,8961.0,en,Bad Boys II,...,147.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If you can't stand the heat, get out of Miami.",Bad Boys II,0.0,6.585,4574.0,R\r,NaN
318,tt0172160,0.0,/2LeJmX0FRCoNogJresMTIw2KrsL.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,419110.0,no,Ballen i øyet,...,81.0,"[{'english_name': 'Norwegian', 'iso_639_1': 'n...",Released,NaN,Ballen i øyet,0.0,0.000,0.0,\r,NaN
319,tt0172464,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,160147.0,en,The Million Dollar Kid,...,89.0,[],Released,NaN,The Million Dollar Kid,0.0,3.000,1.0,\r,NaN
320,tt0172495,0.0,/v2nvvwbWOAEPQeq8wsvUkhb1HI1.jpg,NaN,103000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,98.0,en,Gladiator,...,155.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A Hero Will Rise.,Gladiator,0.0,8.203,15611.0,R\r,NaN
321,tt0172543,0.0,/6YyQkBsVOs0Ju5ojfHwwDWSXZC0.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,13777.0,en,He Died with a Felafel in His Hand,...,107.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,He Died with a Felafel in His Hand,0.0,7.114,101.0,\r,NaN

In [17]:
df['certification\r'].value_counts()

\r           4540
R\r           828
PG-13\r       351
PG\r          129
NR\r           93
G\r            44
NC-17\r        12
Unrated\r       2
-\r             1
Name: certification\r, dtype: int64

In [18]:
df['certification'] = df['certification\r']
df = df.drop(columns='certification\r')

In [19]:
df = df.loc[df['imdb_id']!='0'].reset_index(drop=True)

In [20]:
df.to_csv('Data/tmdb_fin_data.csv.gz',compression = 'gzip',index=False)

In [21]:
conc = df
conc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                5996 non-null   object
 1   adult                  5996 non-null   float64
 2   backdrop_path          2803 non-null   object
 3   belongs_to_collection  383 non-null    object
 4   budget                 5996 non-null   float64
 5   genres                 5996 non-null   object
 6   homepage               359 non-null    object
 7   id                     5996 non-null   float64
 8   original_language      5996 non-null   object
 9   original_title         5996 non-null   object
 10  overview               5597 non-null   object
 11  popularity             5996 non-null   float64
 12  poster_path            5137 non-null   object
 13  production_companies   5996 non-null   object
 14  production_countries   5996 non-null   object
 15  release_date           5953 non-null   object
 16  revenue                5996 non-null   float64
 17  runtime                5996 non-null   float64
 18  spoken_languages       5996 non-null   object
 19  status                 5996 non-null   object
 20  tagline                2017 non-null   object
 21  title                  5996 non-null   object
 22  video                  5996 non-null   float64
 23  vote_average           5996 non-null   float64
 24  vote_count             5996 non-null   float64
               4 non-null      float64
 26  certification          5996 non-null   object
dtypes: float64(10), object(17)
memory usage: 1.2+ MB

# Just repeat steps in p3 now

In [22]:
conc['budget'].fillna(0, inplace=True)
conc['budget'].describe()

count    6.000000e+03
mean     5.156964e+06
std      1.810775e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.000000e+08
Name: budget, dtype: float64

In [23]:
conc['revenue'].fillna(0, inplace=True)
conc['revenue'].describe()

count    6.000000e+03
mean     1.175417e+07
std      6.307282e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.118889e+09
Name: revenue, dtype: float64

In [24]:
conc.drop(conc.loc[(conc['budget']== 0) & (conc['revenue']== 0)].index, inplace=True)
conc['budget'].describe()

count    1.236000e+03
mean     2.503381e+07
std      3.308670e+07
min      0.000000e+00
25%      7.000000e+05
50%      1.000000e+07
75%      3.800000e+07
max      2.000000e+08
Name: budget, dtype: float64

In [25]:
conc['revenue'].describe()

count    1.236000e+03
mean     5.705909e+07
std      1.293709e+08
min      0.000000e+00
25%      0.000000e+00
50%      4.901596e+06
75%      5.220695e+07
max      1.118889e+09
Name: revenue, dtype: float64

In [26]:
basics = pd.read_csv('Data/title_basics.csv.gz')
ratings= pd.read_csv('Data/title_ratings.csv.gz')

In [27]:
conc = conc[['imdb_id','revenue','budget','certification']]
conc.head()

      imdb_id     revenue      budget certification
0   tt0113026         0.0  10000000.0            \r
4   tt0118694  12854953.0    150000.0          PG\r
6   tt0119273         0.0  15000000.0           R\r
12  tt0120263     80334.0         0.0            \r
13  tt0120467     14904.0    120000.0           R\r

In [28]:
conc = conc.rename(columns = {'imdb_id':'tconst'})
conc.head()

       tconst     revenue      budget certification
0   tt0113026         0.0  10000000.0            \r
4   tt0118694  12854953.0    150000.0          PG\r
6   tt0119273         0.0  15000000.0           R\r
12  tt0120263     80334.0         0.0            \r
13  tt0120467     14904.0    120000.0           R\r

In [29]:
basics['genres_split'] = basics['genres'].str.split(',')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War","[Drama, War]"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"

In [30]:
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama

In [31]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [32]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [33]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [35]:
genre_id_map = dict(zip(unique_genres,range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [36]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns = 'genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [37]:
genre_lookup = pd.DataFrame({'genre_name': genre_id_map.keys(),
                            'genre_id': genre_id_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [38]:
basics = basics.drop(columns=['originalTitle', 'isAdult','titleType', 'genres',
                             'genres_split'])
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0079644,November 1828,2001.0,NaN,140
4,tt0088751,The Naked Monster,2005.0,NaN,100

In [39]:
username = 'root'
password = 'root'

In [40]:
# Taken from belt exam
from urllib.parse import quote_plus as urlquote

connection = f'mysql+pymysql://{username}:{password}@localhost/Project3.sql'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/Project3.sql)

In [41]:
if database_exists(connection):
    print('Already Exists')
else:
    create_database(connection)
    print('Database Created')

Already Exists

In [42]:
max_str_len = basics['tconst'].fillna('').map(len).max()
max_str_len

10

In [48]:
# Example from HW
from sqlalchemy.types import *

# max string length
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
certification_len = conc['certification'].fillna('').map(len).max()

# basics schema
basics_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()
}

# ratings schema
ratings_schema = {
    'tconst': String(key_len+1),
    'averageRating': Float(),
    'genre_id': Integer()
}

# early_2k schema 
first_two_schema = {
    'tconst': String(key_len+1),
    'budget': Float(),
    'revenue': Float(),
    'certification': String(certification_len+1)
}

# title_genre schema 
title_genres_schema ={
    'tconst': String(key_len+1),
    'genre_id': Integer()
}

In [49]:
basics.to_sql('basics', engine, dtype=basics_schema, index=False, if_exists = 'replace')
ratings.to_sql('ratings', engine, dtype=ratings_schema, index = False,if_exists = 'replace')
conc.to_sql('later_movies', engine, dtype=first_two_schema, index= False, if_exists = 'replace')
title_genres.to_sql('title_genres', engine, dtype=title_genres_schema, index=False, if_exists = 'replace')
genre_lookup.to_sql('genres_lookup', engine, index=False, if_exists = 'replace')

26

In [53]:
q = """SHOW TABLES;"""
pd.read_sql(q,engine)

  Tables_in_project3.sql
0                 basics
1       first_two_movies
2          genres_lookup
3           later_movies
4                ratings
5           title_basics
6           title_genres